# KITTAB - Multimodal Agentic RAG
# Python 3.11

# ==============================
# Gemini / LLM
# ==============================
google-generativeai

# ==============================
# Vector Database
# ==============================
chromadb

# ==============================
# Document Processing
# ==============================
PyPDF2

# ==============================
# Audio
# ==============================
openai-whisper
pydub

# ==============================
# Video
# ==============================
opencv-python

# ==============================
# OCR / Handwritten Notes
# ==============================
easyocr

# ==============================
# NLP / Embeddings
# ==============================
spacy
sentence-transformers
scikit-learn

# ==============================
# Utilities
# ==============================
python-dotenv
numpy<2.3
pandas>=2.2.3

# ==============================
# UI
# ==============================
streamlit
yt-dlp

Pillow<10

beautifulsoup4
